- flash.each do |name, msg|
  - if msg.is_a?(String)
    .pure-alert{:id => "flash_#{name}", :class => "#{(name.to_s == "notice" || name.to_s == "success") ? "pure-alert-success" : "pure-alert-error"}", :"data-alert" => true}
      .message
        = msg.html_safe
        %a.close.right{:href => "#"} &times;